body.center-form {
	min-height: 100vh;
}

div.center-form {
	position: relative;
	min-height: 100vh;
}

div.center-form > form {
	/* background-color: #e3f2fd;
	background-color: #B4EEB4;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

#colorir {
	background-color: #e3f2fd;
}

.visivel {
	visibility:visible;
}
.invisivel {
	display: none;
}

div.direita {
	float:right;
	width: 48%;
}

div.esquerda {
	float:left;
	width: 48%;
}

.center {
	width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box {
	width: 120vw;
	height: 500px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 50px;
}

.fontDate {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-right: 20px;
	float: right;
}

.topoDireito {
	position: absolute;
	bottom: 0;
	right: 85px;
	width: 190px;
	top: 10px;
}

.margemEsquerda {
	margin-left: 20px;
}

.margemDireita {
	margin-right: 20px;
}

.quadrado {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

*::after {
  box-sizing: border-box; 
}

.erro {
	font-size: 12px;
	color: red;
	float: right;
	display: none;
	margin-right: 15px;
}

#lblData {
	width: 220px;
}

.input-outros {
	width: 80%;
}

.btn-info {
	width: 100%;
	height: 100px;
	
}

.card-deck .deck-buttoons {
	width: 100%;
}

#seguir {
	float: right;
	margin-right: 50px;
}

.my-nav {
	background-color: #e3f2fd;
}

.btn-topo {
	border: 0;
	background-color: transparent;
	float: right;
	margin-right: 1%;
}